
<footer style="background-color: #1e2836;" class="text-center text-white">
    <!-- Grid container -->
    <div style="background-color: #1e2836;" class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            
            {% if not request.user.is_staff %}
              <div class="col-md-5 col-12">
                <div class="form-outline form-white mb-4">
                    <input type="text" id="textfield" class="form-control" placeholder="Note for something.." />
                    <label class="form-label" for="textfield">Enter any Question? ..</label>
                </div>
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                    <input type="email" id="email" class="form-control" placeholder="Your mail.." />
                    <label class="form-label" for="email">Email address</label>
                </div>
              </div>
              <!--Grid column-->
  
              <!--Grid column-->
              <br>
              <div style="margin-top: 50px;" class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                  Send me
                </button>
              </div>

            {% endif %}
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://www.facebook.com/ahmedfathhy011/">Contact me on Facebook</a>
    </div>
    <!-- Copyright -->
  </footer>